# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!testjar.jar
!vncviewer-1.7.1.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_*

target*/
.idea
nb*
stuff/
.settings/
.project
.classpath
*$py.class
.exe
original/
*.versionsBackup
*.iml
**/.tx
